{% extends 'base.html' %}
{% from "formhelper.html" import render_field, render_checkbox %}

{% block ticket %}Add Hotel{% endblock %}
{% block navbar %}
    {% include 'partials/navbars/_navbarEmployee.html' %}
{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <h4 class="display-4">Add Hotel</h4>
        <br>
        <form action="{{ url_for('main.CreateHotel') }}" method="post" novalidate>
            {{ form.csrf_token() }}
                <div class="row">
                <div class="col">{{ render_field(form.name) }}</div>
                <div class="col">{{ render_field(form.roomType) }}</div>
                <div class="col">{{ render_field(form.capacity) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ render_field(form.details) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ render_field(form.checkIn) }}</div>
                <div class="col">{{ render_field(form.checkOut) }}</div>
                <div class="col">{{ render_field(form.price) }}</div>
                <div class="col">{{ render_field(form.rooms) }}</div>
            </div>
            {{ render_field(form.expirationDate) }}
            {{ render_checkbox(form.isPackaged) }}
            <input type="submit" value="Add Hotel" class="btn btn-primary">
        </form>
    </div>
{% endblock %}