{% extends 'base.html' %}
{% from "formhelper.html" import render_field, render_checkbox %}

{% block ticket %}Add Hotel{% endblock %}
{% block navbar %}
    {% include 'partials/navbars/_navbarEmployee.html' %}
{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <h4 class="display-4">Hotel Inquiries</h4>
        <br>
        <div class="pre-scrollable">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Location</th>
                        <th>Budget</th>
                        <th>Number of Guest</th>
                        <th>Check In Date</th>
                        <th>Check Out Date</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hotel in hotels %}
                    <tr>
                        <td>{{hotel.firstName}} {{hotel.lastName}}</td>
                        <td>{{hotel.email}}</td>
                        <td>{{hotel.location}}</td>
                        <td>{{hotel.budget}}</td>
                        <td>{{hotel.guest}}</td>
                        <td>{{hotel.checkIn.strftime('%B %d, %Y')}}</td>
                        <td>{{hotel.checkOut.strftime('%B %d, %Y')}}</td>
                        <td>{{hotel.note}}</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <h4 class="display-4">Flight Inquiries</h4>
        <br>
        <div class="pre-scrollable">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Origin</th>
                        <th>Arrival</th>
                        <th>Desired Time</th>
                        <th># of Adult</th>
                        <th># of Child</th>
                        <th># of Infant</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for flight in flights %}
                    <tr>
                        <td>{{flight.firstName}} {{flight.lastName}}</td>
                        <td>{{flight.email}}</td>
                        <td>{{flight.origin}} {{flight.departureDate.strftime('%B %d, %Y')}}</td>
                        <td>{{flight.arrival}} {{flight.arrivalDate.strftime('%B %d, %Y')}}</td>
                        <td>{{flight.time}}</td>
                        <td>{{flight.adult}}</td>
                        <td>{{flight.child}}</td>
                        <td>{{flight.infant}}</td>
                        <td>{{flight.note}}</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
        <br>
    </div>
{% endblock %}