<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{{ url_for('main.HomePage') }}" class="navbar-brand">
        <img class="img-fluid photoLogo" src="https://preview.ibb.co/ksH4rd/oie_transparent.png" alt="oie_transparent" border="0">
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ url_for('main.ViewPackages') }}" class="nav-link">Packages</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('main.ViewFlights') }}" class="nav-link">Flights</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('main.ViewHotels') }}" class="nav-link">Hotels</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('main.Inquire') }}" class="nav-link">Inquiry</a>
            </li>
        </ul>
        {% if current_user.is_authenticated  %}
            <ul class="navbar-nav ml-auto">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                    {{ current_user.firstName }} {{ current_user.lastName }}
                </a>
                <li class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a href="{% if current_user.is_authenticated  %}
                            {% if current_user.role == 'RO' or 'AD' %}
                                {{ url_for('main.UserHomeRO') }}
                            {% else %}
                                {{ url_for('main.UserHomeFO') }}
                            {% endif %}
                            {% else %}
                                {{ url_for('main.LogIn') }}
                            {% endif %}" class="dropdown-item">Employee Page</a>
                    <a href="{{ url_for('main.LogOut') }}" class="dropdown-item">Log Out</a>
                </li>
            </ul>

        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ url_for('main.LogIn') }}" class="nav-link">Employee Login</a>
                </li>
            </ul>
        {% endif %}
        
    </div>
</nav>