<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="
    {% if current_user.is_authenticated  %}
        {% if current_user.role == 'RO' or 'AD' %}
            {{ url_for('main.UserHomeRO') }}
        {% else %}
            {{ url_for('main.Register') }}
        {% endif %}
    {% else %}
        {{ url_for('main.LogIn') }}
    {% endif %}
    " class="navbar-brand">
    <img class="img-fluid photoLogo" src="https://preview.ibb.co/ksH4rd/oie_transparent.png" alt="oie_transparent" border="0">
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        {% if current_user.is_authenticated  %}
        <ul class="navbar-nav">
            {% if current_user.role != 'FO' %}
            <li class="nav-item">
                <a href="{{ url_for('main.CreatePackage') }}" class="nav-link">Packages</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('main.CreateTicket') }}" class="nav-link">Flights</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('main.CreateHotel') }}" class="nav-link">Hotels</a>
            </li>
            <li class="navbar-item">
                <a href="{{url_for('main.InquiriesLog')}}" class="nav-link">Inquiries</a>
            </li>
            {% endif %}
            {% if current_user.role == 'FO' or current_user.role == 'AD' %}
            <li class="navbar-item">
                <a href="{{ url_for('main.PaymentLogs')}}" class="nav-link">Payment Logs</a>
            </li>
            {% endif %}
            {% if current_user.role == 'AD'  %}
            <li class="navbar-item">
                <a href="{{ url_for('main.LogTrails')}}" class="nav-link">Log Trails</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
        {% if current_user.is_authenticated  %}
            <ul class="navbar-nav ml-auto">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                    {{ current_user.firstName }} {{ current_user.lastName }}
                </a>
                <li class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a href="{{ url_for('main.LogOut') }}" class="dropdown-item">Log Out</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ url_for('main.HomePage') }}" class="nav-link">Customer Screen</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
