{% extends 'base.html' %}
{% from "formhelper.html" import render_field, render_checkbox %}

{% block title %}Add Ticket{% endblock %}
{% block navbar %}
    {% include 'partials/navbars/_navbarEmployee.html' %}
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <h4 class="display-4">Add Ticket</h4>
    <br>
    <form action="{{ url_for('main.CreateTicket') }}" method="post" novalidate>
        {{ form.csrf_token() }}
        <div class="form-row">
            <div class="col">{{ render_field(form.flightNo) }}</div>
            <div class="col">{{ render_field(form.origin) }}</div>
            <div class="col">{{ render_field(form.arrival) }}</div>
        </div>
        <div class="form-row">
            <div class="col">
                {{ render_field(form.departureDate) }}
                {{ render_field(form.departureTime) }}
            </div>
            <div class="col">
                {{ render_field(form.arrivalDate) }}               
                {{ render_field(form.arrivalTime) }} 
            </div>
            <div class="col">
                {{ render_field(form.returnDate) }}               
                {{ render_field(form.returnTime) }} 
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                {% if form.isPackaged.data %}
                    <fieldset disabled id='disable'>{{ render_field(form.price) }}</fieldset>
                {% else %}
                    {{ render_field(form.price) }}
                {% endif %}
            </div>
            <div class="col-3">
                {{ render_field(form.slots) }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                {{ render_checkbox(form.isPackaged) }}
            </div>
        </div>
        <div class="row">
            <div class="col-auto mr-auto">
                <a href="{{ url_for('main.UserHomeRO') }}" class="btn btn-secondary">Cancel</a>
            </div>
            <div class="col-auto">
                <input type="submit" value="Add Ticket" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block javascript %}
<!-- <script>
$(document).ready(function(){
  $('input:checkbox').on('click', function(){
      if($('input:checkbox').is(':checked')){
        $('#disable').prop('disabled', 'disabled');
        $('#price').val('0');
      }
      else{
        $('#fieldset').prop('disabled', false);
      }
  });
});
</script> -->
{% endblock %}