{% extends 'base.html' %}
{% from 'formhelper.html' import render_field %}

{% block title %} Flight Review {% endblock %}

{% block navbar %}
    {% include 'partials/navbars/_navbarCustomer.html' %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h4 class="display">Your Booking has been Completed</h4>
            <p class="lead">Your credit card will be charge in a while.</p>
            <hr class="my-4">
            <p class="lead">You will be receiving an email within <strong>One Day</strong> from our Reservation Officer regarding on your tickets.</p>
            <p class="lead">Thank you and Good Day</p>
            <center><a href="{{ url_for('main.HomePage') }}" class="btn btn-success">Return to Home Page</a></center>
        </div>
    </div>
{% endblock %}