{% extends 'base.html' %}
{% from 'formhelper.html' import render_field %}

{% block title %} Flight Review {% endblock %}

{% block navbar %}
    {% include 'partials/navbars/_navbarCustomer.html' %}
{% endblock %}
{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h4 class="display-4">Flight {{ flightSummary.flightNo }} ({{ flightSummary.origin }} - {{ flightSummary.arrival }})</h4>
            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <p class="lead">Departure</p>
                    <p class="lead">{{ flightSummary.departureDate.strftime('%B %d, %Y') }} {{ flightSummary.departureTime }}</p>
                </div>
                <div class="col">
                    <p class="lead">Return</p>
                    <p class="lead">{{ flightSummary.returnDate.strftime('%B %d, %Y') }} {{ flightSummary.returnTime }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="lead">Remaining Slots: {{ flightSummary.remainingSlots }}</p>
                </div>
            </div>
            <p class="lead"></p>
            <p class="lead"></p>
            <p class="lead"></p>
            <form action="{{ url_for('main.FlightSummary', id=flightSummary.id) }}" method="POST" novalidate class="col-5 no-gutters">
                {{ form.csrf_token }}
                {{ render_field(form.customerCounter) }}
                <input type="submit" value="Avail Flight" class="btn btn-primary">                    
            </form>
        </div>
    </div>
{% endblock %}