{% extends 'base.html' %}
{% from "formhelper.html" import render_field %}

{% block navbar %}
    {% include 'partials/navbars/_navbarCustomer.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h4 class="display-4">Customer Forms</h4>
    <form action="{{ url_for('main.BookCustomerHotels', counter=counter) }}" method="post">
        {% for forms in form.customer  %}
            {{ forms.csrf_token }}
            <div class="row">
                <div class="col">
            {{ render_field(forms.firstName) }}
            </div>
                <div class="col">
                {{ render_field(forms.lastName)}}
                </div>
        </div>
            <div class="row">
                <div class="col">
                {{ render_field(forms.email)}}
                </div>
                <div class="col">
                {{ render_field(forms.contactNo)}}
            </div>
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
{% block javascript %}
<script>
    $( "input[type=text]" ).attr("pattern", '.{5,100}').attr('title','5 minimum characters').prop('required', true)
</script>
{% endblock %}