{% extends 'base.html' %}

{% block title %}View Hotels{% endblock %}

{% block navbar %}
    {% include 'partials/navbars/_navbarCustomer.html' %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h4 class="display-4">Hotels</h4>
            <p class="lead">Select your desired Hotel Booking</p>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    {% for items in viewHotels|batch(3) %}
        <div class="card-deck">
            {% for hotel in items %}
            <div class="card">
                <h5 class="card-header">{{ hotel.name }}</h5>
                <div class="card-body">
                    <p class="card-text">Room Type: {{ hotel.roomType }}</p>
                    <p class="card-text">Room Type: {{ hotel.capacity }}</p>
                    <p class="card-text">Details: {{ hotel.details }}</p>
                    <p class="card-text">Room Type: {{ hotel.roomType }}</p>
                    <p class="card-text">Check-In Date: {{hotel.checkIn.strftime('%B %d, %Y') }}</p>
                    <p class="card-text">Check-Out Date: {{hotel.checkOut.strftime('%B %d, %Y') }}</p>
                    <p class="card-text">Price: Php {{ '%0.2f'| format(hotel.price|float) }} </p> 
                    <a href="{{url_for('main.HotelSummary', id=hotel.id)}}" class="btn btn-primary">View Hotel</a>
                </div>
                <div class="card-footer">
                    <p class="card-text text-muted text-right">Valid Until: {{ hotel.expirationDate.strftime('%B %d, %Y') }}</p>   
                </div>
            </div>
            {% endfor %} 
        </div>
        <br>
    {% endfor %}
</div>
{% endblock %}