{% extends 'base.html' %}

{% block navbar %}
    {% include 'partials/navbars/_navbarEmployee.html' %}
{% endblock %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h4 class="display-4">Welcome {{ current_user.firstName }} {{ current_user.lastName }}</h4>
        <hr class="my-4">
        <p class="lead">
            {% if current_user.role == "AD" %} 
                As an Administrator, you are able to do what a 
                Reservation Officer and Financial Officer can do and in addition 
                an access to the Trail Logs of this application
            {% elif current_user.role == "RO" %} 
                As a Reservation Officer, you are assigned to Handle Reservations and Bookings
            {% else %} 
                As a Financial Officer, you are assigned to Track Down Glow of Money
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}